<form method="post" action="{{ path('app_profil_delete', {slug: profil.slug}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce compte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profil.id) }}">
    <button type="submit" class="account-btn"> Supprimer votre compte</button>
</form>