{% extends 'base.html.twig' %}

{% block title %}Créer votre profil{% endblock %}

{% block body %}

    {% embed '_dashboardProfil.html.twig' %}

        {% block extra_content %}
    
            <h1 class="text-center mt-4 mb-4">Créer un nouveau profil</h1>

            {{ include('profil/_form.html.twig') }}

        {% endblock %}
    {% endembed %}
{% endblock %}
