{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}


   <section class="page-title title-bg17">
       <div class="d-table">
           <div class="d-table-cell">
               <h2>Mentions légales</h2>
               <ul>
                   <li>
                       <a href="/">Home</a>
                   </li>
                   <li>Mentions légales</li>
               </ul>
           </div>
       </div>
       <div class="lines">
           <div class="line"></div>
           <div class="line"></div>
           <div class="line"></div>
       </div>
   </section>

<div class="example-wrapper text-center">
    <h1 class="mt-5">Mentions légales</h1>
    <br>

    <p>Ce site est la propriété de :<br>
    EXTERNATIC<br>
    1 Rue Racine<br>
    44000 NANTES<br>
    <br>
    SIREN : 800 426 629<br>
    <br>
    <br>
    Responsable de la rédaction : Franck Gascard<br>
    <br>
    Conception et réalisation du site<br>
    iLoofo<br>
    Web & E-Commerce<br>
    7 Boulevard Ampère – 44470 Carquefou<br>
    <br>
    <br>
    Hébergement :<br>
    OVH SAS<br>
    2 rue Kellermann – 59100 Roubaix – France</p><br>
    <br>
</div>
{% endblock %}
